{% extends 'templates/../sidebar.html' %}
{% block title%}CContan的博客{% endblock %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block sidebar_content %}
    <div class="container">
        <div class="row">

                <div class="card blog-list-card blog-move offset-sm-0 col-sm-12 offset-lg-2 col-lg-8 offset-xxl-0 col-xxl-12" id="blog-move">
                    <div class="card-header" style="border-radius: 10px;margin-bottom: 45px;">{% block blog_list_title %}项目列表:(共有{{ page_of_blogs.paginator.count }} 个项目){% endblock %}</div>
                        <div class="row">
                            {% for project in blogs %}
                                    <div class="blog offset-1 col-5" style="background-color: rgba(43,43,43,0.71);height: auto;background-image:url('/media/{{ blog.images }}');background-size:cover;box-shadow: 0 0 5px rgba(0,0,0,0.71)">
                                        <a class="text-decoration-none " href="{% url 'blog_deatil' project.blog.pk %}"><h3 class="text-light">{{ project.title }}</h3></a>
                                            <div class="text-center text-light" style="text-indent: 0">
                                                <p class="mb-0"> {{ project.content|safe|truncatechars:240 }}</p>
                                            </div>
                                            <div class="text-center mt-5">
                                            <a href='{{ project.urls }}' class='text-decoration-none text-light'>
                                                <button type="button" class="btn btn-outline-light">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                                    </svg>
                                                    Github
                                                </button>
                                            </a>
                                            </div>
                                    </div>

                                {% empty %}
                                    <h3 class="text-center">暂无</h3>
                            {% endfor %}
                        </div>
                </div><!--内容结束-->
                    <nav aria-label="Page navigation example" style="margin-top: 1em"><!--分页开始-->
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                {% if page_of_blogs.has_previous %}
                                    <a class="page-link" href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                                {% else %}
                                    <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                                {% endif %}
                            </li>

                                {% for page_num in page_list %}
                                    {% if page_num == page_of_blogs.number %}
                                        <li class="active page-item"><a class="page-link" href="#">{{ page_num }}</a></li>
                                    {% elif page_num == '...'%}
                                        <li class="page-item"><a class="page-link" href="#" style="padding-left: 13.5px;padding-right: 13.5px">{{ page_num }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{page_num}}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endfor %}

                            <li class="page-item">
                                {% if page_of_blogs.has_next %}
                                    <a class="page-link" href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                                {% else %}
                                    <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav> <!-- 分页结束-->
            </div>


        </div>
    </div>
{% endblock %}