{% extends 'templates/../learning_record_sidebar.html' %}

{% block learning_record_sidebar_content %}
<div class="container">
        <div class="row">
            <div class="blog-move"  id="blog-move">

                    <div class="catalogs card blog-content-card  px-1" id="catalogs">
                        <p style="border-bottom: 1px solid;font-size: 24px;">目录</p>
                    </div>

                    <div class="card blog-content-card offset-3 col-9" id="content">
                        <h1>{{ lesson.title }}</h1>
                        <ul class="blog-info-description">
                            <li>作者:{{ lesson.author.get_nickname }}</li>
                            <li>发表日期:{{ lesson.created_time|date:'Y-m-d' }}</li>
                            <li>阅读数:{{ lesson.search_readnum }}</li>
                        </ul>
                        <div class="blog-content">{{ lesson.content|safe }}</div>
                        <div class="blog-pre-next">
                            <div class="float-start d-flex flex-row">
                                {% if previous_lesson %}
                                    <a href="{% url 'lesson' previous_lesson.id %}" class="text-decoration-none btn filp-button">上一篇</a>
                                {% else %}
                                    <a href="#" class="text-decoration-none btn filp-button">暂无</a>
                                {% endif %}
                            </div>
                            <div class="float-end">
                                {% if next_lesson %}
                                    <a href="{% url 'lesson' next_lesson.id %}" class="text-decoration-none btn filp-button">下一篇</a>
                                {% else %}
                                    <a href="#" class="text-decoration-none btn filp-button">暂无</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card offset-3 col-9 mb-4">
                            <div class="card-body">
                                    <div class="row mx-1 mt-3">
                                        <div>
                                                <div class="avater">
                                                {% if user.is_authenticated%}
                                                    <img src="{{ request.user.get_avatar }}" class="round_icon" alt="">
                                                {% else %}
                                                    <img src="/media/default/unlogin.png" class="round_icon" alt="">
                                                {% endif %}
                                                </div>
                                            <form  action="{% url 'submit_comment' %}" id="comment_form" novalidate method="post" style="overflow: hidden">
                                                {% csrf_token %}
                                                {% for field in comment_form %}
                                                    {{ field }} <!--或者设置label=false-->
                                                {% endfor %}
                                                <span id='comment_error' class="text-danger " style="float: left"></span>
                                                <input type="submit" class="btn btn-primary " value="提交评论" style="float: right">
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row mx-5 mt-2 " id="comment_list">
                                        {% for comment in comments %}
                                            <div class="mt-3 pt-4 border-top pb-2 mb-2">
                                                <img src="{{ comment.user.get_avatar }}" class="round_icon_little" alt="" style="float: left">
                                                <p class="comment_user_name">{{ comment.user.get_nickname   }}</p>
                                                <p style="margin-left: 66px">{{comment.text|safe}}</p>
                                                <p class="float-end">{{ comment.created_time|date:'Y-m-d H:i:s' }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                    </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block learning_record_sidebar_script_extend%}
        <script type="text/javascript">
        $("#comment_form").submit(function(event){
            //异步提交
            $.ajax({
                url: "{% url 'submit_comment' %}",
                type:'POST',
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if(data['status'] == 'SUCCESS'){
                        //插入数据
                        var comment_html =  '<div class="mt-3 pt-4 border-top pb-2 mb-2">' + '<img src="'+data['avatar'] + '" class="round_icon_little" alt="" style="float: start">' +
                                            '<p class="comment_user_name">' + data['username']+ '</p>' +
                                            '<p style="margin-left: 66px">' + data['text'] + '</p>' +
                                            '<p class="float-end">' + data['comment_time']+'</p>' + '</div>'
                        $('#comment_list').prepend(comment_html)
                        //清空编辑内容
                        $("#comment_form_value").val(null)
                        $('#comment_error').text('')
                    }
                    else{
                        //显示错误信息
                        $('#comment_error').text("*"+data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
            event.preventDefault();
        });
    </script>
    <!--实现标题目录-->
    <script type="text/javascript">
         $("h1,h2,h3,h4:gt(4)").each(function(i,n){
             const headingLevel = n.localName;
             const heading = $(n);
             const headingName = n.textContent;
             const anchorName = heading.attr('id',headingName);
            $('#catalogs').append(
                `
                <div class="catalog catalog-${headingLevel}" name="${headingName}">
                    <a href="#${headingName}">${headingName}</a>
                </div>
                `
            );
         })
         $(document).scroll(function(){
             let $currentHeading = $("h1,h2,h3,h4:gt(4)")[0]
                $("h1,h2,h3,h4:gt(4)").each(function(i,n){
                    const $heading = n;
                    if (n.offsetTop - $(document).scrollTop() > 20) {
                        return false;
                }

                $currentHeading = $heading;
                })
             const anchorName = $currentHeading.textContent;
             const $catalog = $(`.catalog[name="${anchorName}"]`);
             if (!$catalog.hasClass('catalog-active')) {
                 $('.catalog-active').removeClass('catalog-active');
                 $catalog.addClass('catalog-active');
             }
             if ($catalog.length > 0) {
                 $('#catalogs').scrollTop($catalog[0].offsetTop - 50);
             } else {
                 $('#catalogs').scrollTop(0);
             }
         });

     </script>

    <script type="text/javascript">
        const catalog = $('#catalogs');
        const content = $('#content');
        catalog.width(content.offset().valueOf()["left"]-catalog.offset().valueOf()["left"]);
        window.addEventListener('resize',function(){
            catalog.width(content.offset().valueOf()["left"]-catalog.offset().valueOf()["left"]-10);
        });

    </script>
{% endblock %}