{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/static/css/base.css"><link rel="stylesheet" href="/static/css/base.css">
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="shortcut icon" href="{% static 'fa.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    {% block header_extends %}{% endblock %}
    {% block jq %}{% endblock %}

    <title>{% block title%} {% endblock %}</title>
</head>

<body>
     <nav class="navbar navbar-leftside navbar-expand d-flex flex-column" id="sidebar">
         <div href="#" class="navbar-brand m-0 mt-2">
             <div class=" font-weight-bold">
                 <a href="{% url 'user_info' %}">
                    {% if user.is_authenticated %}
                        <img src="{{ request.user.get_avatar }}" alt="" class="img-fluid rounded-circle my-1
                       p-1  d-md-block shadow mx-2" style="width: 233px;height: 233px"/>
                    {% else %}
                        <img src="/media/default/unlogin.png" alt="" class="img-fluid rounded-circle my-1
                       p-1  d-md-block shadow mx-2" style="width: 233px;height: 233px"/>
                    {% endif %}
                </a>
                     <div class="d-flex">
                         {% if user.is_authenticated %}
                             <div class="nav-item dropdown w-100 text-center mt-4" >
                                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                     {{ request.user.get_nickname  }}
                                 </a>
                                 <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                     <li><a class="dropdown-item" href="{% url 'user_info' %}">个人资料</a></li>
                                     {% if user.is_staff or user.is_superuser %}<li><a class="dropdown-item" href="{% url 'admin:index' %}">后台管理</a></li>
                                     {% endif %}
                                     <li><hr class="dropdown-divider"></li>
                                     <li><a class="dropdown-item" href="{% url 'logout' %}">注销</a></li>
                                 </ul>
                             </div>
                            {% else %}
                                <div class="w-100 text-center mt-4">
                                <button type="button" class="btn btn-dark"  data-bs-toggle="modal" data-bs-target="#loginModal" >
                                    登录
                                </button>
                                <button type="button" class="btn btn-dark"  data-bs-toggle="modal" data-bs-target="#registerModal" >
                                    <div>注册</div>
                                </button>
                                </div>
                            {% endif %}
                    </div>
            </div>
         </div>
         <ul class="navbar-nav d-flex flex-column mt-5 w-100 text-center">
             <li class="nav-item w-100">
                 <a class="nav-link" aria-current="true" href="{% url 'home' %}">首页</a>
             </li>
             <li class="nav-item w-100">
                 <a class="nav-link" href="{% url 'blog_list' %}">博客</a>
             </li>
             <li class="nav-item w-100">
                 <a class="nav-link" href="{% url 'blog_project_list' %}">项目</a>
             </li>
             <li class="nav-item w-100">
                 <a class="nav-link" href="{% url 'course_list' %}">学习记录</a>
             </li>
             <li class="nav-item w-100">
                 <a class="nav-link" href="{% url 'health_form' %}">小工具</a>
             </li>
         </ul>











     </nav>

      <!-- login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog " style="top:30%">
            <div class="modal-content w-auto h-auto" style="position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);z-index: 9999;">
                <div class="close-button"><button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pt-1 px-5">
                    <div class="text-center">
                    <form action="{% url 'login' %}" method="post" >
                        {% csrf_token %}
                        <label for="recipient-name" class="col-form-label">用户名</label>
                        <input type="text" class="form-control w-auto m-auto"  name = 'username'>
                        <label for="recipient-name" class="col-form-label">密码</label>
                        <input type="password" class="form-control w-auto m-auto"  name = 'password'>
                        <div class="text-center">
                        <input type="submit"  class="btn btn-primary mt-3 center" value="登录">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog " style="top:40%">
            <div class="modal-content w-auto h-auto" style="position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                <div class="close-button"><button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pt-1 px-5">
                    <div class="text-center">
                    <form action="{% url 'register' %}" method="post" >
                        {% csrf_token %}
                        <label for="recipient-name" class="col-form-label">用户名</label>
                        <input type="text" class="form-control w-auto m-auto"  name = 'username' >
                        <label for="recipient-name" class="col-form-label">密码</label>
                        <input type="password" class="form-control w-auto m-auto"  name = 'password1'>
                        <label for="recipient-name" class="col-form-label">再次输入密码</label>
                        <input type="password" class="form-control w-auto m-auto"  name = 'password2'>
                        <label for="recipient-name" class="col-form-label">邮箱</label>
                        <input id='id_email'type="text" class="form-control w-auto m-auto"  name = 'email'>
                        <label for="recipient-name" class="col-form-label">验证码</label>
                        <input type="text" class="form-control w-auto m-auto"  name = 'verification_code'>
                        <span id='error_tip' class="text-danger"></span>
                        <div class="clearfix"></div>
                        <button type='button' id='send_code' class="btn btn-primary mt-3 float-start">发送验证码</button>
                        <input type="submit"  class="btn btn-primary mt-3 float-end" value="注册">

                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 my-menu active-cont" id="div-menu-btn">
        <button class="btn my-4" id="menu-btn">Menu</button>
    </div>


    {% block content %}{% endblock %}

    <div class="footer" id="footer">
        <div class="website-info">
            <a href="https://beian.miit.gov.cn" style="color: #0f0f0f;text-decoration: none;">苏ICP备2021009502号-1</a>
            <img src="/media/备案.png">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32050702010975" style="color: #0f0f0f;text-decoration: none;">苏公网安备 32050702010975号</a>
            <p>Copyright©2021 By CContan 版权所有</p>
            <p>PoweredBy Django 联系邮箱3143790685@qq.com</p>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="messageModal"  tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-auto" style="position: absolute;left: 50%;top: 20%;transform: translate(-50%,-50%);">
                <div class="modal-body text-center" >
                    {% for msg in messages %}
                        {{ msg }}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    {% if messages  %}
    <script>
         {% for msg in messages %}
            var myModal = new bootstrap.Modal(document.getElementById("messageModal"), {});
            document.onreadystatechange = function () {
            myModal.show();}
            {% endfor %}
    </script>
    {% endif %}
    {% block script_extend %} {% endblock %}
     <script type="text/javascript">
         function hasClass(element, cls) {
             return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
         }

         var menu_btn=document.querySelector("#menu-btn");
         var sidebar=document.querySelector("#sidebar");
         var div_menu_btn=document.querySelector("#div-menu-btn");
         var blog_list_card=document.querySelector("#blog-move");
         var right_sidebar=document.querySelector("#rightsidebar");

         window.onload=function () {
             sidebar.style.transition = '0s';
             div_menu_btn.style.transition = '0s';
             var t = blog_list_card.getBoundingClientRect().left;
             if(t < sidebar.getBoundingClientRect().right){
                 sidebar.classList.add("active-nav");
                 div_menu_btn.classList.remove("active-cont");
             }
             else if(hasClass(sidebar,"active-nav")&& t>sidebar.getBoundingClientRect().right+300){
                 sidebar.classList.remove("active-nav");
                 div_menu_btn.classList.add("active-cont");
             }
             else if(hasClass(blog_list_card,'active-cont')&& t>sidebar.getBoundingClientRect().right){
                 blog_list_card.classList.remove("active-cont");
             }
             if(right_sidebar){
                 if(right_sidebar.getBoundingClientRect().left<blog_list_card.getBoundingClientRect().right) {
                     right_sidebar.classList.add("visually-hidden")
                 }
                 else if(right_sidebar.getBoundingClientRect().left>blog_list_card.getBoundingClientRect().right+250){
                     right_sidebar.classList.remove("visually-hidden")
                 }
             }
             sidebar.style.transition = '0.4s';
             div_menu_btn.style.transition = '0.4s';
         };

         window.addEventListener('resize',function(){
             var t = blog_list_card.getBoundingClientRect().left;
             if(t < sidebar.getBoundingClientRect().right){
                 sidebar.classList.add("active-nav");
                 div_menu_btn.classList.remove("active-cont");
                 blog_list_card.classList.remove("active-cont")
             }
             else if(hasClass(sidebar,"active-nav")&& t>sidebar.getBoundingClientRect().right+300){
                 sidebar.classList.remove("active-nav");
                 div_menu_btn.classList.add("active-cont");
             }
             else if(hasClass(blog_list_card,'active-cont')&& t>sidebar.getBoundingClientRect().right){
                 blog_list_card.classList.remove("active-cont")
                 right_sidebar.classList.remove("visually-hidden")
             }

             if(right_sidebar){
                 if(right_sidebar.getBoundingClientRect().left<blog_list_card.getBoundingClientRect().right) {
                     right_sidebar.classList.add("visually-hidden")
                 }
                 else if(right_sidebar.getBoundingClientRect().left>blog_list_card.getBoundingClientRect().right+250){
                     right_sidebar.classList.remove("visually-hidden")
                 }
             }
         });


         menu_btn.addEventListener("click",()=>{
             sidebar.classList.toggle("active-nav");
             div_menu_btn.classList.toggle("active-cont");
             if(blog_list_card.offsetLeft-250<0) {
                 blog_list_card.classList.toggle("active-cont");
             }
             else if(hasClass(blog_list_card,"active-cont")){
                 blog_list_card.classList.toggle("active-cont");
             }

         })
     </script>


</body>
<!--发送邮件-->
<script type="text/javascript">

        $("#send_code").click(function () {
            var email = $(id_email).val();
            if(email==''){
                $("#error_tip").text('*邮箱不能为空')
                return false;
            }
            //发送验证码
            $.ajax({
                url:"{% url 'send_verification_code' %}",
                type: 'GET',
                data:{
                    'email':email
                },
                cache:false,
                success:function (data) {
                    if (data['status']!='SUCCESS'){
                        alert(data['type']);
                    }
                    else{
                        $("#error_tip").text('');
                        alert('邮件已发送');
                        $("#send_code").addClass('disabled');
                        $("#send_code").attr('disabled',true);
                        var time = 30;
                        $("#send_code").text(time + 's');
                        var interval = setInterval(() => { //箭头函数
                            if (time <= 0 ){
                                clearInterval(interval);
                                $("#send_code").removeClass('disabled');
                                $("#send_code").attr('disabled',false);
                                $("#send_code").text('发送验证码')
                            }
                            else{
                                time --;
                                $("#send_code").text(time + 's');
                            }

                        },1000)
                    }
                }
            })
        });
    </script>

<script>
! function() {
	//封装方法，压缩之后减少文件大小
	function get_attribute(node, attr, default_value) {
		return node.getAttribute(attr) || default_value;
	}
	//封装方法，压缩之后减少文件大小
	function get_by_tagname(name) {
		return document.getElementsByTagName(name);
	}
	//获取配置参数
	function get_config_option() {
		var scripts = get_by_tagname("script"),
			script_len = scripts.length,
			script = scripts[script_len - 1]; //当前加载的script
		return {
			l: script_len, //长度，用于生成id用
			z: get_attribute(script, "zIndex", -1), //z-index
			o: get_attribute(script, "opacity", 0.5), //opacity
			c: get_attribute(script, "color", "0,0,0"), //color
			n: get_attribute(script, "count", 99) //count
		};
	}
	//设置canvas的高宽
	function set_canvas_size() {
		canvas_width = the_canvas.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
		canvas_height = the_canvas.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
	}

	//绘制过程
	function draw_canvas() {
		context.clearRect(0, 0, canvas_width, canvas_height);
		//随机的线条和当前位置联合数组
		var e, i, d, x_dist, y_dist, dist; //临时节点
		//遍历处理每一个点
		random_lines.forEach(function(r, idx) {
			r.x += r.xa,
			r.y += r.ya, //移动
			r.xa *= r.x > canvas_width || r.x < 0 ? -1 : 1,
			r.ya *= r.y > canvas_height || r.y < 0 ? -1 : 1, //碰到边界，反向反弹
			context.fillRect(r.x - 0.5, r.y - 0.5, 1, 1); //绘制一个宽高为1的点
			//从下一个点开始
			for (i = idx + 1; i < all_array.length; i++) {
				e = all_array[i];
				//不是当前点
				if (null !== e.x && null !== e.y) {
						x_dist = r.x - e.x, //x轴距离 l
						y_dist = r.y - e.y, //y轴距离 n
						dist = x_dist * x_dist + y_dist * y_dist; //总距离, m
					dist < e.max && (e === current_point && dist >= e.max / 2 && (r.x -= 0.03 * x_dist, r.y -= 0.03 * y_dist), //靠近的时候加速
						d = (e.max - dist) / e.max,
						context.beginPath(),
						context.lineWidth = d / 2,
						context.strokeStyle = "rgba(" + config.c + "," + (d + 0.2) + ")",
						context.moveTo(r.x, r.y),
						context.lineTo(e.x, e.y),
						context.stroke());
				}
			}
		}), frame_func(draw_canvas);
	}
	//创建画布，并添加到body中
	var the_canvas = document.createElement("canvas"), //画布
		config = get_config_option(), //配置
		canvas_id = "c_n" + config.l, //canvas id
		context = the_canvas.getContext("2d"), canvas_width, canvas_height,
		frame_func = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function(func) {
			window.setTimeout(func, 1000 / 45);
		}, random = Math.random,
		current_point = {
			x: null, //当前鼠标x
			y: null, //当前鼠标y
			max: 20000
		},
		all_array;
	the_canvas.id = canvas_id;
	the_canvas.style.cssText = "position:fixed;top:0;left:0;z-index:" + config.z + ";opacity:" + config.o;
	get_by_tagname("body")[0].appendChild(the_canvas);
	//初始化画布大小

	set_canvas_size(), window.onresize = set_canvas_size;
	//当时鼠标位置存储，离开的时候，释放当前位置信息
	window.onmousemove = function(e) {
		e = e || window.event, current_point.x = e.clientX, current_point.y = e.clientY;
	}, window.onmouseout = function() {
		current_point.x = null, current_point.y = null;
	};
	//随机生成config.n条线位置信息
	for (var random_lines = [], i = 0; config.n > i; i++) {
		var x = random() * canvas_width, //随机位置
			y = random() * canvas_height,
			xa = 2 * random() - 1, //随机运动方向
			ya = 2 * random() - 1;
		random_lines.push({
			x: x,
			y: y,
			xa: xa,
			ya: ya,
			max: 6000 //沾附距离
		});
	}
	all_array = random_lines.concat([current_point]);
	//0.1秒后绘制
	setTimeout(function() {
		draw_canvas();
	}, 100);
}();
</script>


</html>