{% extends 'base.html' %}
{% load static %}
{% block title %}
    CContan的博客
{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!--要重新 load static-->
{% endblock %}
{% block content %}
    <div class="row m-0">
        <div class="blog-move active-cont p-0" id="blog-move">
            <div class=" p-4 welcome">
                <h1>欢迎来到我的网站</h1>
                <p>兴趣使然</p>
            </div>
            <div class="container">
                <a href="{% url 'blog_list' %}" style="text-decoration: none;">
                        <div class="card-blog-mask" style="" >
                            <h3>博客</h3>
                        </div>
                </a>

                <a href="" style="text-decoration: none;">
                        <div class="card-more-mask" >
                            <h3>更多</h3>
                        </div>
                </a>
                </div>


            </div>
        </div>
    </div>



{% endblock %}

{% block nav_home_active %}
    active
{% endblock %}

