{% extends 'base.html' %}
{% block header_extends %}
    <link rel="stylesheet" href="/static/css/blog.css">
{% endblock %}
{% block title %}个人资料{% endblock %}
{% block  content%}
<div class="contain">
    <div class="card col-sm-offset-1 offset-3 col-sm-6">
        <div class="row mx-5 mt-2">
                {% if user.is_authenticated %}
                    <div class="blog-info-top">
                        <img src="{{ request.user.get_avatar }}" alt="" class="round_icon">
                    <h2>{{ user.username }}</h2>
                    <ul class="user_info px-0">
                        <li>昵称:{{ user.get_nickname  }} <a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">修改昵称</a></li>
                        <li>邮箱:
                            {% if user.email %}
                                {{ user.email }}
                            {% else %}
                                未绑定
                                <a href="{% url 'bind_email' %}?from={{ request.get_full_path }}">绑定邮箱</a>
                            {% endif %}

                        </li>
                        <li>上次登录的时间:{{ user.last_login|date:'Y-m-d H:i:s' }}</li>
                    </ul>
                    </div>
                    <div class="border-bottom"></div>
                    <div class="user-info-mid">

                    </div>
                {% else %}
                            <spawn>未登录,跳转到首页....</spawn>
                            <script type="text/javascript">
                                window.location.href='/'
                            </script>
                {% endif %}
            </div>

    </div>
</div>

{% endblock %}